NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PIN=
BUREAU_VERITAS_REPORT_PIN=
RESEND_API_KEY=
ORDER_NOTIFICATION_FROM=
ORDER_NOTIFICATION_TO=pedidomatica@gmail.com
